.sidebar-menu-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-menu-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dark .sidebar-menu-scroll::-webkit-scrollbar-track {
  background: #1f1f1f;
}

.sidebar-menu-scroll::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

.dark .sidebar-menu-scroll::-webkit-scrollbar-thumb {
  background: #434343;
}
