#root {
  max-width: none;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.logo {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
